# Charger
/sys/class/power_supply/battery input_suspend 0660 system system
/sys/class/power_supply/battery smart_chg     0660 system system

# mi display feature
subsystem mi_display
    devname uevent_devpath
    dirname /dev/mi_display

/dev/mi_display/*         0666   root       graphics

# mius iio devices
/dev/iio:device*                                        0660   system     system
/sys/bus/iio/devices/iio:device* buffer/enable                  0600 system system
/sys/bus/iio/devices/iio:device* scan_elements/in_proximity_en  0600 system system
/sys/bus/iio/devices/iio:device* scan_elements/in_timestamp_en  0600 system system
