# MIEV
type miev_dev, dev_type, mlstrustedobject;

# MIGT
type migt_dev, dev_type, mlstrustedobject;

# --- dmabuf_heap_device ---
typeattribute dmabuf_heap_device dev_type;
typeattribute dmabuf_heap_device mlstrustedobject;

# --- dmabuf_system_heap_device ---
typeattribute dmabuf_system_heap_device dev_type;
typeattribute dmabuf_system_heap_device mlstrustedobject;

# --- dmabuf_system_secure_heap_device ---
typeattribute dmabuf_system_secure_heap_device dev_type;
typeattribute dmabuf_system_secure_heap_device mlstrustedobject;
